# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration (Prisma)
DATABASE_URL="postgresql://postgres:mk@localhost:5432/tendatabase?schema=public"

# JWT Authentication
ACCESS_TOKEN_SECRET="default_access_token_secret_min_32_characters_long"
ACCESS_TOKEN_EXPIRES_IN="15m"
REFRESH_TOKEN_SECRET="default_refresh_token_secret_min_32_characters_long"
REFRESH_TOKEN_EXPIRES_IN="7d"

# Internal Security
SECRET_API_KEY="default_secret_api_key_123456"
